<?xml version="1.0"?>
<launch>
    <arg name="ft_sensor_topic_name" default="netft_data" />
    <arg name="ft_sensor_ip" default="192.168.1.1"/>

    <!-- <node name="netft_node" pkg="netft_utils" type="netft_node" args="$(arg ft_sensor_ip)"/> -->
    <node name="canopen_motor_node" pkg="force_effector_hw" type="canopen_motor_node.py"/>
    <node name="force_effector_hw" pkg="force_effector_hw" type="force_effector_hw">
        <remap from="ft_sensor_topic" to="$(arg ft_sensor_topic_name)"/>
    </node>
    
</launch>
