<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="force_effector_gazebo" params="robot_name">
        <!-- Load Gazebo lib and set the robot namespace -->
        <gazebo>
            <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
                <!-- <robotNamespace>/${robot_name}</robotNamespace> -->
                <robotSimType>gazebo_ros_control/FtRobotHWSim</robotSimType>
            </plugin>
        </gazebo>
        <gazebo reference="${robot_name}_link_0">
            <material>Gazebo/Grey</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>
        <gazebo reference="${robot_name}_link_1">
            <material>Gazebo/Brown</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>
        <gazebo reference="${robot_name}_link_2">
            <material>Gazebo/Grey</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <!-- for test force sensor -->
        <gazebo reference="${robot_name}_joint_1">
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo>
            <plugin name="ft_sensor" filename="libgazebo_ros_ft_sensor.so">
                <updateRate>1000.0</updateRate>
                <topicName>ft_sensor_topic</topicName>
                <gaussianNoise>0.05</gaussianNoise>
                <jointName>${robot_name}_joint_1</jointName>
            </plugin>
        </gazebo>
    </xacro:macro>
</robot>